@import '../_variables';


.alarmForm-container{
  border:1px solid green;
  
}
.form-container {
  // border: 1px solid blue;
  display: flex;
  justify-content: center;
  position: relative;
  //justify-content: space-evenly;
}
.icon-settings {
  width: 50%;
  

  
    
}
.name {
  // border:2px solid pink;
  margin-top: 30px;
  width: 20%;
}
.time {
  // border:2px solid pink;
  margin-top: 30px;
  width: 20%;
}
.notes {
  width: 20%;
  margin-top: 30px;
}

.paragraph {
  color:$text;
}
.h3 {
  color:$headerColor;
  font-size: 25px;
}
.input-felt {
  width: 70%;
  height: 40px;
  border: 2px solid rgb(143, 143, 143);
  border-radius: 7px;
  bottom:0;
}
// style placholder on every browser
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 18px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 18px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 18px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 18px;
}

.add-btn {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 40px;
  background-color:$headerColor;
  color:white;
  font-size: 20px;
  margin-left: 30px;
  border-radius: 7px;
  border:none;
}

.add-btn:hover {
  background-color: #638783
}

.table-container {
  
  margin-top:20px;
  background-color: $bgColor;
  height: 400px;
}


// #table-container {
//   background-color:$bgColor;
//   display: flex;
//   justify-content: center;
//   padding: 50px;
//  }
 
//  #info {
//    text-align: center;
//    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
//    border-collapse: collapse;
//    border: 3px solid #ddd;
//    width: 80%;
//    margin:auto 0px;
//    background-color: white;
//  }
 
//  #info td, #info th {
//    border: 1px solid #ddd;
//    padding: 8px;
//  }
 
//  #info tr:nth-child(even){background-color: #f2f2f2;}
 
//  #info tr:hover {background-color: #ddd;}
 
//  #info th {
//    padding-top: 12px;
//    padding-bottom: 12px;
//    text-align: center;
//    background-color:$headerColor;
//    color: white;
//  }

