@import '../_variables';

.list-container {
 // background-color: pink;
 // height: 400px;
}
.input-pill {
  width: 70%;
  height: 40px;
  border: 2px solid rgb(143, 143, 143);
  border-radius: 7px;
  bottom:0;
}
.delete-pill{
  font-size: 25px;
  color:#dc3644;
}

.delete-pill:hover {
 color:#bd2130;
}
.add-pill {
  font-size: 30px;
  color:#28a745;
}
.add-pill:hover{
  color:#238a3b;
}

.pill-list {
  display: flex;
  text-transform: capitalize;
  border-bottom: 4px solid white;
  justify-content: space-between;
  background-color: $bgColor;
  width: 70%;
  margin:0px auto;
  padding:10px;
  
   
 // padding-left: 10px;
}
.pill {
  margin-left: 20px;
}
