@import '../_variables';

.information-container{
    width: 100%;
}

.informationHeader{
    margin-top: 5%;
    margin-bottom: 7%;
}

.info-header{
    font-family: $fontRoboto;
    color: $text;
    font-size: 50px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.info-undertext{
    font-family: $fontRoboto;
    color: $text;
    width: 70%;
    margin: auto;
    letter-spacing: 1px;
    // text-align: justify;
}

.info-section1{
    width: 80%;
    margin: auto;
}

.info-icons{
    width: 300px;
}

.info-box1{
    margin-top: 5%;
}

.info-box2{
    margin-top: 16%;
}

.headlines{
    font-family: $fontRoboto;
    text-align: justify;
    color: $headerColor;
    font-size: 35px;
    letter-spacing: 1px;
}

.info-box-text{
    font-family: $fontRoboto;
    text-align: justify;
    color: $text;
    font-size: 20px;
}

.info-medicine-box{ 
    margin-bottom: 7%;
    padding: 1% 9% 3% 0%;
}

.info-setTime-box{
    margin-bottom: 7%;
    padding: 1% 0% 3% 9%;
}

.info-message-box{
    margin-bottom: 8%;
    padding: 1% 9% 3% 0%;
}

//responsive design
@media (max-width: 600px) {
   
}

@media (max-width: 768px) {
  
}

@media (max-width: 992px) {
    
}