@import '../_variables';

.profile-container{
    width: 100%;
    min-height: 70vh;
}

.profile-top-box{
    margin-top: 5%;
    margin-bottom: 35px;
}

.profile-header{
    font-family: $fontRoboto;
    color: $text;
    font-size: 50px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.profile-text{
    font-family: $fontRoboto;
    color: $text;
    width: 70%;
    margin: auto;
    letter-spacing: 1px;
}

.changeBox{
    display: inline-block;
    margin-bottom: 45px;
}

.changeButton{
    font-family: $fontRoboto;
    font-size: 20px;
    letter-spacing: 2px;
    color: $text;
    background-color: $bgColor;
    // background-color:white;
    border: none;
    text-transform: uppercase;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.changeButton:hover {
    background-color: #f1eee7;
}

.change-box2{
    width: 90%;
    margin: auto;
}

.text-left1 {
    display: inline-block;
    font-family: $fontRoboto;
    letter-spacing: 1px;
    color: $headerColor;
    font-size: 25px;
    width: 60%;
    margin-top: 50px;
    text-transform: uppercase;
}

.form-control {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 20px !important;
}

input::placeholder {
    color: rgb(202, 202, 202) !important;
}

.line{
    width: 80%;
}

//Button className from ChangeEmail.js ChangePassword.js ChangePhone.js
.changePassword-btn{
    background-color: $button !important;
    color: white;
    border: none !important;
    border-radius: 4px;
    // float: right;
    font-family: $fontRoboto;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    margin-bottom: 50px;
    // margin: 1px 0px 50px 15px; //styling to match the bootstrap btn
    padding: 6px 12px; //styling to match the bootstrap btn
}

.changePassword-btn:hover{
    background-color: $hoverbtn !important;
}

//responsive design
@media (max-width: 566px) {
    .profile-header{
        font-size: 30px !important;
    }

    .changeButton{
        font-size: 15px !important;
        margin-bottom: -10px !important;
        padding: 8px !important;
    }
}

@media (max-width: 600px) {
    .profile-header{
        font-size: 28px !important;
    }

    .changeButton{
        font-size: 15px !important;
        
    }
}

@media (max-width: 696px) {
    .profile-header{
        font-size: 40px;
    }

    .changeButton{
        font-size: 15px !important;
        padding: 6px;
        letter-spacing: 1px;
    }
}

@media (max-width: 768px) {
    .changeButton{
        font-size: 13px;
        margin: 10px;
    }
}

@media (max-width: 965px) {
    .changeButton{
        font-size: 15px;
    }
}