@import '../_variables';

.register-nav{
    background-color: #bbd4d0;
    // background-color: $hoverbtn;
    height: 5vh;
    margin-top: 20px;
    margin-bottom: 10%;
}

.register-nav-text{
    color: $text;
    font-family: $fontRoboto;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 15px;
}