@import '../_variables';
.user-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   background-color:#efefef;
   // background-color: $bgColor;
   position: relative;
   z-index: 3;
}
 
.user-container {
   background-color: $bgColor;
   width:100%;
   //position and z-index is necessary for the hamburgermenu
   //not to look funny when its opend
   position: relative;
   z-index: 3;
   margin-left: auto;
}

.user-badge {
   font-family: $fontRoboto;
   background-color: $bgColor;
   text-align: center;
}
 
.user-info {
   float: right;
   color: $headerColor;
   text-transform: uppercase;
   font-size: 18px;
   font-family: $fontRoboto;
   padding-top: 10px;
   padding-right: 30px;
   position: relative;
   z-index: -1;
}
 
.logout {
   font-family: $fontRoboto;
   font-weight: 600;
   letter-spacing: 1px;
   font-size: 16px;
   padding-top: 30px;
   padding-left: 25px;
   padding-right: 30px;
   color: $text;
}
 
.logout:hover {
   text-decoration: none;
   color: rgb(161, 161, 161);
}

@media only screen and (max-width: 800px) {
    .logout{
    font-size: 12px;
    }

    .user-info {
    padding-right: 0px;
    font-size: 17px;
    }
 }

@media only screen and (max-width: 650px) {
    .user-wrapper  {
    flex-direction: column-reverse;
    }
 
}

 @media only screen and (max-width: 350px) {
    .logout{
    font-size: 12px;
    }
    .user-info {
    font-size: 12px;
    }
}

