

.startHeader-container {
  top: 0;
  background-color: #a5bdba;
  width: 100%;
  height: 70px;

}
.startHeader-logo {
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 4px;
  font-size: 30px;
  text-align: left;
  margin-left: 7%;
  padding: 18px;
}