@import '../_variables';

.start-container {
  width: 100%;
}

.video-container{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

.backgroundVideo{
  position: relative;
  width: 100%;
  height: 100%;
  filter: opacity(50%) grayscale(85%);
  background-repeat: no-repeat;
   z-index: -1;
}

.medicMinder{
  position: relative;
  color: white;
  margin-top: -50%;
  margin-left: 4%;
  z-index: 9999;
  font-family: $fontRoboto;
  text-align: justify;
  font-size: 2.3vw;
  letter-spacing: 4px;
  width: 20%;
}

.navigation{
  position: relative;
  float:left;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-left: 15%;
}

.header-nav{
  z-index: 999;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $fontRoboto;
  font-size: 1vw;
  margin-right: 18px;
  color:white !important;
  list-style-type: none !important;
}

.header-link{
  background-color: $button;
  cursor: pointer;
  padding: 10px 25px 10px 25px;
  box-shadow: 2px 2px 5px #585555;
  transition: transform .3s;
}

.header-link:hover{
  color: $text;
  transform: scale(1.1);
  background-color: #e8e2d8 !important;;
  box-shadow: 2px 2px 5px #999999!important; ;
}

.header-nav:hover{
  color: #4d4d4d;
  color:white;
}

.top-box{
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.welcom-text-box{
  margin-left: 15%;
}

.welcome-text{
  position:relative;
  width: 100%;
  font-family: $fontRoboto;
  text-align: justify;
  color: $text;
  font-size: 2.6vw;
  letter-spacing: 1px;
  z-index: 999;
}

.welcome-underText{
  text-transform: uppercase;
  color: $headerColor;
  font-family: $fontRoboto;
  text-align: justify;
  font-size: 1.6vw;
  letter-spacing: 3px;
  margin-top: 20%;
  font-weight: bold;
}

.bottom-box{
  position:relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-information-box{
  padding: 12%;
  margin-top: 15%;
  margin-bottom: 10%;
  margin-left: -12%;
}

.section1-box{
  width: 80%;
}

.machine-image{
  width: 25vw;
  margin-top: 31%;
}

.information-header{
  font-family: $fontRoboto;
  color: $headerColor;
  font-size: 2vw;
  letter-spacing: 2px;
  margin-top: -5%;
}

.index-info-text{
  font-family: $fontRoboto;
  text-align: justify;
  color: $text;
  font-size: 1.3vw;
}

.information-text{
  font-family: $fontRoboto;
  text-align: justify;
  color: $text;
  font-size: 1vw;
}

.bottom-box2{
  position: relative;
  background-color: $bgColor;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.section2-box{
  width: 90%;
  margin-bottom: 8%;
}

.bottom-box2-header{
  margin-top: 8%;
  margin-bottom: 7%;
  font-family: $fontRoboto;
  color: $text;
  font-size: 3vw;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.start-icons{
  width: 15vw;
}

.start-icon-text{
  margin-top: 8%;
  margin-right: 7%;
  margin-left: 7%;
  font-family: $fontRoboto;
  text-align: justify;
  color: $text;
  font-size: 1vw;
}

.onepill-card{
  margin: 0px 2% 0px 2%;
  background-color: rgb(255, 255, 255);
  padding-top: 8%;
  padding-bottom: 8%;
  box-shadow: 8px 10px 15px #acacac;
  border-radius: 10px;
  
}

.clock-card{
  margin: 0px 2% 0px 2%;
  background-color: rgb(255, 255, 255);
  padding-top: 8%;
  padding-bottom: 8%;
  box-shadow: 8px 10px 15px #acacac;
  border-radius: 10px;
}

.message-Card{
  margin: 0px 2% 0px 2%;
  background-color: rgb(255, 255, 255);
  padding-top: 8%;
  padding-bottom: 8%;
  box-shadow: 8px 10px 15px #acacac;
  border-radius: 10px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}