@import '../_variables';

.header-container {
  margin: 0;
  padding:0;
  background-color: $bgColor;
  width: 100%;

}
.logo-box {
 border: 1px solid $bgColor;
 width: 30%;
 
}

.logo {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: $fontRoboto;
  color: $headerColor;
  letter-spacing: 4px;
  font-size: 1.7vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

