@import '../_variables';

.header-container {
  margin: 0;
  padding:0;
  background-color: $bgColor;
  width: 100%;

}
.logo-box {
 border: 1px solid $bgColor;
 width: 30%;
}

.logo {
  margin-top: 25px;
  font-family: $fontRoboto;
  color: $headerColor;
  letter-spacing: 6px;
  font-size: 2vw;
  font-weight: 800;
}

.logo-underText {
  font-family: $fontRoboto;
  color: $text;
  font-size: 1.5vw;
  color:$text;
  letter-spacing: 5px;
  margin-top: -12px;
  margin-bottom: 7%;
}

// .navigation{
//   float: right;
//   margin-top: -5%;
// }

// .header-nav{
//   display: inline-block; 
//   text-decoration: none !important;
//   text-align: center;
//   text-transform: uppercase;
//   letter-spacing: 2px; 
//   font-family: $fontRoboto;
//   font-size: 1vw;
//   padding: 0px 70px 0px 0px;
//   color: white; 
//   list-style-type: none !important;
// }

// .header-link{
//   background-color: #91afac;
//   cursor: pointer;
//   padding: 7px 15px 7px 15px;
//   border-radius: 3px;
//   box-shadow: 2px 2px 5px #999999;
//   transition: transform .3s;
// }

// .header-link:hover{
//   transform: scale(1.1); 
//   color: white;
// }

// .header-nav:hover{
//   color: white;
// }
