@import '../_variables';

.header-container {
  margin: 0;
  padding:0;
  background-color: $bgColor;

}
.logo-box {
 border: 1px solid $bgColor;
 width: 15%;
}
h3 {
  color:$headerColor;
}

p {
  color:$text;
}