@import '../_variables';
 
.navigationbar-container {
 top: 0;
 background-color: $navbar;
 width: 100%;
 height: 70px;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 z-index: 1;
}
 
.navlinks a{
 position: relative;
 display: inline-block;
 flex: 1;
 text-align: center;
 font-family: $fontRoboto;
 text-decoration: none !important;
 color:white;
 letter-spacing: 3px;
 text-transform: uppercase;
 font-size: 25px;
 transition: transform .3s;
 margin: 0 1% 0 1%;  
 margin-top: 0.5%;
}
 
.navlinks a:hover{
 text-decoration: none !important;
 transform: scale(1.2); 
 color:white !important;
}
 
.logout-link {
 color: $text;
 font-size: 15px;
 font-weight: 900;
 letter-spacing: 2px;
}
 
#menuToggle {
 display: none;
}
 
@media screen and (max-width: 850px) {
 
.navlinks {
 display: none;
}
 
#menuToggle {
 display: flex;
 flex-direction: column;
 position: relative;
 top: -45px;
 left: 90%;
 z-index: 1;
 -webkit-user-select: none;
 user-select: none;
 width: 50px;
}
 
#menuToggle a {
 text-decoration: none;
 color: white;
 transition: color 0.3s ease;
}
 
#menuToggle input {
 display: block;
 width: 40px;
 height: 32px;
 position: absolute;
 top: -7px;
 left: -5px;
 cursor: pointer;
 opacity: 0; /* hide this */
 z-index: 2; /* and place it over the hamburger */
 -webkit-touch-callout: none;
}
 
/*
* Just a quick hamburger
*/
#menuToggle span {
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 background: white;
 border-radius: 3px;
 z-index: 1;
 transform-origin: 4px 0px;
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
 opacity 0.55s ease;
}
 
#menuToggle span:first-child {
 transform-origin: 0% 0%;
}
 
#menuToggle span:nth-last-child(2) {
 transform-origin: 0% 100%;
}
 
/*
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
 opacity: 1;
 transform: rotate(45deg) translate(-2px, -1px);
 background: white;
}
 
/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3){
 opacity: 0;
 transform: rotate(0deg) scale(0.2, 0.2);
}
 
/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2) {
 transform: rotate(-45deg) translate(0, -1px);
}
 
/*
* Make this absolute positioned
* at the top right of the screen
*/
#menu {
 position: fixed;
 height: 100vh;
 width: 103%;
 padding: 10px;
 padding-top: 130px;
 top: 50px;
 margin-left: -92%;
 flex-direction: column;
 // this is the bubble-effect before..
 clip-path: circle(100px at 90% -10%);
 -webkit-clip-path: circle(100px at 90% -10%);
 transition: all 1s ease-out;
 pointer-events: none;
}
 
/*
* And let's slide it in from the right
*/
#menuToggle input:checked ~ ul {
 
 // this is the bubble-effect after..
 clip-path: circle(1200px at 90% -10%);
 -webkit-clip-path: circle(1200px at 90% -10%);
 pointer-events: all;
 margin-top:-50px;
 background:#638783;
}
 
#menu .mobil-menu .mobil-link {
 padding: 10px 0;
 margin-top: 6vw;
 font-size: 22px;
 font-family: $fontRoboto;
 text-decoration: none !important;
 list-style: none;
 letter-spacing: 3px;
 text-transform: uppercase;
}
.mobil-logout-link {
 padding: 10px 0;
 font-size: 19px;
 color: $text;
 font-weight: 900;
 font-family: $fontRoboto;
 list-style: none;
 margin-top: 4vw;
}
}
 
@media screen and (max-width: 700px) {
  // #menu {
  //   padding-top: 100px;
  //  }
}
@media screen and (max-width: 550px) {
 
 #menuToggle {
   left:80%
 }
 #menu {
   margin-left: -83%;
  
 }
}
 


