@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

$headerColor:#679e97;
// $bgColor:#e8e2d8;
$bgColor:#f7f5f1;
$bgMain:#f7f5f1;
$bg:#efefef;
$text:#4d4d4d;

$button:#7da09b;
$hoverbtn:#628a84;

$fontRoboto:'Roboto', sans-serif;
$fontNumber:'Dosis', sans-serif;




$navbar: #a5bdba;
