@import '../_variables';
.trades {
    background-color: $text;
    display: flex;
    width: 100%;
    font-family: $fontRoboto;
    // color: $headerColor;
    color: rgb(238, 238, 238);
    font-size: 15px;
    justify-content: center;
    align-content: center;
    // padding: 2%;
    bottom:0;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .trades{
        padding-top: 10px;
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .trades{
        padding-top: 10px;
    }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */




/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}