@import '../_variables';

.footer {
    position: relative;
    display: flex;
    background-color: $text;
    bottom:0;
    width: 100%;
    margin-top: auto;
}

.footer-container{
    display: flex;
    text-align: left; 
    font-family: $fontRoboto;
    font-size: 16px;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap !important;
    color: rgb(238, 238, 238);
    margin-bottom: 20px;
}

.twitterTransp {
    height: 35px;
    margin-right: 8px;
}

.instaTransp {
    height: 35px;
    margin-right: 8px;
}

.faceTransp {
    height: 35px;
    margin-right: 8px;
}

.phoneTransp {
    height: 35px;
    margin-right: 8px;
}

.envelopeTransp {
    height: 35px;
    margin-right: 8px;
}

.footer-left{
    width: 33%;
}

.footer-header{
    margin-bottom: 20px;
    color:$headerColor;
    letter-spacing: 4px;
    font-size: 30px;
}

.footer-right{
    width: 33%;
    margin-right: -15%;
}

.about-header{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
    margin-top: 10px;
    color:$headerColor;
}

.about{
    margin-top: 30px;
}

.mailLink{
    color: whitesmoke;
}

.mailLink:hover{
    color:$headerColor;
    text-decoration: none;
}

.menu a{
    color: whitesmoke;
}

.menu a:hover{
    color:$headerColor;
    text-decoration: none;
}

//responsive design
@media (max-width: 600px) {
    .footer-container{
        display: block;
        text-align: center;
        margin: 15px;
    }
    
    .footer-left{
        width: 100% !important;
        margin-bottom: 45px !important;
        padding:0 !important;
    }

    .footer-right{
        width: 100% !important;
        margin-bottom: 25px;
        padding:0 !important;
    }
}

@media (max-width: 768px) {
    .footer-container{
        padding: 10px;
    }

    .footer-left{
        width: 40%;
        margin-bottom: 35px;
        padding-left: 40px;
    }

    .footer-right{
        width: 40%;
        margin-bottom: 25px;
        padding-left: 20px;
        margin:0;
    }
}

@media (max-width: 992px) {
    .footer-container{
        padding: 10px;
    }

    .footer-left{
        width: 40%;
        margin-bottom: 35px;
        padding-left: 40px;
    }

    .footer-right{
        width: 40%;
        margin-bottom: 25px;
        padding-left: 20px;
        margin-right: 20px;
    }
}