@import '../_variables';

.login-container {
    width: 100%;
    // margin-bottom: 4%; 
    // margin-top: 4%;
    margin-top: 4%;
    height:60vh;
}

.login-card {
    // margin-top: 20%;
    // margin-bottom: 40%;
}

.login-header{
    font-family: $fontRoboto;
    margin-top: 15px;
    font-size: 30px;
    color: $text;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
    background-color: $bgColor;
}

.theForm{
    padding-left: 15px;
    padding-right: 15px;
}

.text-left {
    font-family: $fontRoboto;
    letter-spacing: 1px;
    color: $text;
    font-size: 20px;
}

.form-control {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 20px !important;
}

input::placeholder {
    color: rgb(202, 202, 202) !important;
}

.login-btn {
    background-color: $button !important;
    color: white;
    border: none !important;
    border-radius: 4px;
    width: 27%;
    font-family: $fontRoboto;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    margin: 36.108px 8px 9.0246px 15px; //styling to match the bootstrap btn
    padding: 6px 12px; //styling to match the bootstrap btn
}

.login-btn:hover {
    background-color: $hoverbtn !important;
}

.cancel-btn{
    background-color: rgb(185, 123, 123);
    color: white;
    border: none;
    border-radius: 4px;
    width: 27%;
    font-family: $fontRoboto;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 36.108px 8px 9.0246px 15px; //styling to match the bootstrap btn
    padding: 6px 12px; //styling to match the bootstrap btn
}

.cancel-btn:hover {
    background-color:rgb(143, 96, 96) ;
}

.account-text {
    font-family: $fontRoboto;
    letter-spacing: 1px;
    margin-bottom: 6%;
    color: $text;
}

.loginText {
    font-family: $fontRoboto;
    letter-spacing: 1px;
    color: $text;
    font-weight: 600;
    cursor: pointer;
}

.loginText:hover {
    color: $headerColor;
}

.login-redirect{
    font-family: $fontRoboto;
    color: $text;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.noAccount{
    margin-right: 7px;
}

.redirectToRegister-Link{
    font-family: $fontRoboto;
    color: $headerColor;
}

.redirectToRegister-Link:hover{
    text-decoration: none;
    color: $text;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .login-header{
        font-size: 30px;
        padding: 8px;
    }
    .login-btn {
        font-size: 12px;
    }

    .cancel-btn{
        font-size: 12px;
        
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {
    .login-header{
        font-size: 30px;
        padding: 8px;
    }

    .login-btn {
        font-size: 12px;
        width: 27%;
    }

    .cancel-btn{
        font-size: 12px;
        width: 27%;  
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1200px) {
 
    .login-btn {
        font-size: 15px !important;
        width: 34% !important;
    }

    .cancel-btn{
        font-size: 15px;
        width: 34% !important;
        
        
    }

}